.btn {
    display: inline-block;
    background-color: $periwinkle;
    border: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    color: white;
    
    &:hover {
        cursor: pointer;
    }

    &--large {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }

    &--dark {
        background-color: $darkBlue;
    }
}