.btn {
    display: inline-block;
    background-color: $periwinkle;
    border: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    color: white;
    transition: all 0.2s ease-in-out;
    
    &:hover {
        cursor: pointer;
        background-color: $darkPeriwinkle;
        text-shadow: 2px 2px 5px rgba(0,0,0,1);
    }

    &--large {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }

    &--dark {
        background-color: $darkBlue;
    }
}