.grid {
    display: grid;

    &--col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &--medium-4 {
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    }

    &--t-margin-medium {

        @mixin atMedium {
            margin-top: 6rem;
        }
        
    }
}