.page-section {
    padding: 1.2rem 0;

    @mixin atMedium {
        padding: 4.5rem 0;
    }

    &--b-padding-extra {
        padding-bottom: 3rem;

        @mixin atMedium {
            padding: 6rem;
        }
    }

    &--dark-blue {
        background-color: $darkBlue;
        color: white;
    }

    &--purple {
        background-color: $darkPurple;
        color: white;
    }

    &--b-border-pink {
        border-bottom: 10px solid $mainPink;
    }

    &--blue {
        background-color: $mainBlue;
        color: white;
    }

    &--b-border-light-blue {
        border-bottom: 10px solid $lightBlue;
    }
}