.primary-nav {

    a {
        padding: 1rem 1.2rem;
        display: inline-block;
        margin: 0;
        transition: background-color 0.2s ease-in-out;
        text-shadow: 2px 2px 5px black;
        
        &:hover {
            background-color: $periwinkle;
        }
    }
}