.skill-item {
    background-color: #fff;
    position: relative;
    width: 100%;
    min-height: 300px;
    
    &__icon {
        width: 150px;
        max-height: 150px;
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &__overlay {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: black;
        color: white;
        transition: all .3s ease-in-out;
        

        &--is-visible {
            opacity: 0.5;
            visibility: visible;
        }
    }

    &--black {
        background-color: #2e2c2c;
    }

    &--orange {
        background-color: #F88542;
    }

    &--blue {
        background-color: #1156A2;
    }

    &--white {
        background-color: #f5f5f5;
    }

    &--green {
        background-color: #3F8839;
    }

    &--brown {
        background-color: #6d4e46;
    }

    &--yellow {
        background-color: 	#EDBD1E;
    }

    &--light-blue {
        background-color: #8ed5fa;
    }

    &--red {
        background-color: #C63D13;
    }

    &--purple {
        background-color: #6F3FA9;
    }

    &--aqua-blue {
        background-color: #13BDC5;
    }
}